<body style="background-color: rgb(34, 122, 211);">
  <div class="center">
  <div class="ex6">
      
  <div class= "mat-subheading-2  ex7 " > Spare a few minutes to tell us about your experiences</div> <br>
        <!--<button mat-button routerLink= "home3">Click here to get start</button>   -->
      <div class="ex8" >
      <button mat-raised-button  routerLink= "/home3"  >
          
         Click here to get started
      </button> <br>
  </div>
      
  <div class= "mat-subheading-2 ex9"> your feedback help us get better</div>
    </div></div>
  </body>