.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
  div.ex6{
   
    display: block;
    text-align: center;
   
  }
  div.ex7 {
    color : white ;
    padding :30px;
    text-align: center;
    height: 50px;
  } 
  div.ex8 {
   
    text-align: center;
   
    
  }
  div.ex9 {
    color : white ;
    padding :90px;
    text-align: center;}